/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2015, 12:19:11 PM
    Author     : Mark
*/

.serverTable tr:nth-child(even) {
    background-color: #eee;
}

.serverTable tr:nth-child(odd) {
    background-color: #fff;
}

.serverTable th {
    color: white;
    background-color: black;
    text-align: left;
}

table, .serverTable th, .serverTable td {
    border: 1px solid black;
    border-collapse: collapse;
}
.serverTable th{
    padding: 5px;
    text-align: left;
}

.mainDiv {
    position: fixed;
    min-height: 50px;
    width: 300px;			
    border: 1px solid #ababab;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0 #666;
    box-shadow: 5px 5px 10px 0 #666;
    overflow: hidden;
    z-index: 999;
}

.mainDiv h2 {
    margin: 0;
    display: block;
    padding: 7px 4% 2px 4%;
    height: 20px;
    width: 92%;
    border-bottom: 1px solid #ababab;
    background-color: #cccccc;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;	
    text-align:left;		
}

.nameCell{
    font-family: Verdana,Arial,sans-serif;
    font-size: 16px;	
    font-weight:bold;
}

.mainDivPhoto{
    width:84px;
    height:84px;
}

.charTable {
    border: 0px solid #f00 !important;
    border-collapse: collapse;
    table-layout: fixed;
}