<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>WoWCharServ</servlet-name>
      <servlet-class>servlet.WoWCharServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWServServ</servlet-name>
     <servlet-class>servlet.WoWServServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWClassServ</servlet-name>
     <servlet-class>servlet.WoWClassServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>LeagueServerStatus</servlet-name>
     <servlet-class>servlet.LeagueServerStatus</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>WoWCharServ</servlet-name>
      <url-pattern>/wowCharServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWServServ</servlet-name>
     <url-pattern>/wowServServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWClassServ</servlet-name>
     <url-pattern>/wowClassServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>LeagueServerStatus</servlet-name>
     <url-pattern>/LeagueServerStatus</url-pattern>
   </servlet-mapping>

</web-app>
