<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
 
   <servlet>
      <servlet-name>WoWCharServ</servlet-name>
      <servlet-class>servlet.WoWCharServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWServServ</servlet-name>
     <servlet-class>servlet.WoWServServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWClassServ</servlet-name>
     <servlet-class>servlet.WoWClassServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWItemServ</servlet-name>
     <servlet-class>servlet.WoWItemServ</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWServApi</servlet-name>
     <servlet-class>servlet.WoWServApi</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWClassApi</servlet-name>
     <servlet-class>servlet.WoWClassApi</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWCharApi</servlet-name>
     <servlet-class>servlet.WoWCharApi</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWItemApi</servlet-name>
     <servlet-class>servlet.WoWItemApi</servlet-class>
   </servlet>

   <servlet>
     <servlet-name>WoWDisplayApi</servlet-name>
     <servlet-class>servlet.WoWDisplayApi</servlet-class>
   </servlet>

 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>WoWCharServ</servlet-name>
      <url-pattern>/wowCharServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWServServ</servlet-name>
     <url-pattern>/wowServServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWClassServ</servlet-name>
     <url-pattern>/wowClassServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWItemServ</servlet-name>
     <url-pattern>/wowItemServ</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWServApi</servlet-name>
     <url-pattern>/api/wowServApi</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWClassApi</servlet-name>
     <url-pattern>/api/wowClassApi</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWCharApi</servlet-name>
     <url-pattern>/api/wowCharApi</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWItemApi</servlet-name>
     <url-pattern>/api/wowItemApi</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
     <servlet-name>WoWDisplayApi</servlet-name>
     <url-pattern>/api/wowDisplayApi</url-pattern>
   </servlet-mapping>

</web-app>
